<!DOCTYPE html>
<html>
<head>
	<script src="js/three.min.js"></script>
</head>

<body>

	<script>

	    var camera, scene, renderer;
	    var geometry, material, mesh;
		var hasGP;
		var gp;
		var euler;

		var vecForward, vecUp, vecLeft;

		// Objeto fijo
		var fixedMesh;

	    init();
	    animate();

	    function init() {

			hasGP = false;
			vecForward = new THREE.Vector3(-1,0,0);
			vecLeft = new THREE.Vector3(0,0,1);
			vecUp = new THREE.Vector3(0,1,0);
			euler = new THREE.Euler( 0, 0, 0, 'XYZ' );

	        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 10000 );
	        //camera.position.z = 1000;

	        scene = new THREE.Scene();

	        geometry = new THREE.BoxGeometry( 10, 10, 10 );
	        material = new THREE.MeshBasicMaterial( { color: 0xff0000, wireframe: true } );

			var boxMaterials = [
				new THREE.MeshBasicMaterial({color:0xFF0000}),
				new THREE.MeshBasicMaterial({color:0x00FF00}),
				new THREE.MeshBasicMaterial({color:0x0000FF}),
				new THREE.MeshBasicMaterial({color:0xFFFF00}),
				new THREE.MeshBasicMaterial({color:0x00FFFF}),
				new THREE.MeshBasicMaterial({color:0xFFFFFF})
			];

			var boxMaterial = new THREE.MeshFaceMaterial(boxMaterials);

	        mesh = new THREE.Mesh( geometry, boxMaterial );
			fixedMesh = new THREE.Mesh( geometry, material );

			fixedMesh.position.set(20, 0, 20);

			mesh.quaternion.x = -1;
			//mesh.matrixAutoUpdate = false;
			//mesh.updateMatrix();

			camera.position.set(40,40,0);
			camera.lookAt(new THREE.Vector3(0,0,0) );
			mesh.add(camera);

	        scene.add( mesh );
			scene.add( fixedMesh );

	        renderer = new THREE.WebGLRenderer();
	        renderer.setSize( window.innerWidth, window.innerHeight );

	        document.body.appendChild( renderer.domElement );

	    }

	    function animate() {

	        // note: three.js includes requestAnimationFrame shim
	        requestAnimationFrame( animate );

			//mesh.translateZ(0.3);
	        //mesh.rotation.x += 0.01;
	        //mesh.rotation.y += 0.02;

			if (hasGP) {
				/*mesh.translateZ( gp.axes[0] * 0.3 * -1 );
				mesh.translateX( gp.axes[1] * 0.3 );*/

				//mesh.translateX( vecForward.x );
				//mesh.translateY( vecForward.y );
				//mesh.translateZ( vecForward.z );

				//console.log("CHEFE");
				reportOnGamepad();
			}

	        renderer.render( scene, camera );

	    }

		function reportOnGamepad() {

			//console.clear();
			gp = navigator.getGamepads()[0];
			//console.log( gp.axes[0] + " " + gp.axes[1] );
			//console.log( gp.axes[2] + " " + gp.axes[3] );

			var x, y, z;
			x = gp.axes[0];
			y = gp.axes[1] * -1;

			var angX = 0;
			var angY = 0;

			angY = Math.asin(y);
			angX = Math.asin(x);

			var vecForward2, vecUp2, vecLeft2;

			vecForward2 = new THREE.Vector3();
			vecUp2 = new THREE.Vector3();
			vecLeft2 = new THREE.Vector3();

			vecForward2.copy(vecForward);
			vecUp2.copy(vecUp);
			vecLeft2.copy(vecLeft);

			vecForward2.applyAxisAngle(vecUp, angY);
			vecUp2.applyAxisAngle(new THREE.Vector3(-1*vecForward.x,-1*vecForward.y,-1*vecForward.z), angY);

			vecLeft2.applyAxisAngle(vecForward2, angX);
			vecForward2.applyAxisAngle(vecLeft, angX);

			var newQuat = new THREE.Quaternion();
			newQuat.x = vecForward2.x;
			newQuat.y = vecForward2.z;
			newQuat.z = vecForward2.y;
			newQuat.w = 1;

			//console.log("X: " + newQuat.x);
			//console.log("Y: " + newQuat.y);
			//console.log("Z: " + newQuat.z);

			mesh.quaternion.slerp(newQuat, 1);

			//console.log("X: " + mesh.quaternion.x);
			//console.log("Y: " + mesh.quaternion.y);
			//console.log("Z: " + mesh.quaternion.z);

			mesh.translateOnAxis(new THREE.Vector3(mesh.quaternion.x, mesh.quaternion.y, mesh.quaternion.z), 0.05);
			//your_object.position = start_position;

			vecUp.copy(vecUp2);
			//vecForward.copy(vecForward2);

			vecForward.x = vecForward2.x;
			vecForward.y = vecForward2.z;
			vecForward.z = vecForward2.y;

			vecLeft.copy(vecLeft2);
		}

		window.addEventListener("gamepadconnected", function(e) {
			console.log("CONEXION");
			gp = navigator.getGamepads()[0];
		  hasGP = true;
		});

	</script>

</body>
</html>
